<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css"/>
    <title>{{title}}</title>
    <style>
    .footer {
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="/dashboard">Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/userprofile">{{session.name}}</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills  nav-stacked">
          <li role="presentation" class="active"><a href="/dashboard"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</a></li>
          <li role="presentation" class="active"><a href="/posts"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Posts</a></li>
          <li role="presentation" class="active"><a href="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
          <li role="presentation" class="active"><a href="/userprofile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
          <li role="presentation" class="active"><a href="/fileupload"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> File Upload</a></li>
          <li role="presentation" class="active"><a href="/vehicle">Vehicles</a></li>
          <li role="presentation" class="active"><a href="/dl">Driving Licence</a></li>
          <li role="presentation" class="active"><a href="/qr/{{session._id}}" target="_blank">QR</a></li>
        </ul>
      </div>
      <div class="col-md-10">
          {{{ body }}}
      </div>
    </div>
  </div>
      <hr class="featurette-divider">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
