<div class="container">
  <!-- Carousel
  ================================================== -->
  <!--slider-->
  <div id="slider" class="flexslider">

        <ul class="slides">
            <li>
              <img src="images/slider/slider1.jpg">

        <div class="caption">
          <h2><span>an awesome website</span></h2>
          <h2><span>html theme</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <button class="btn">Read More</button>
              </div>

            </li>
            <li>
              <img src="images/slider/slider2.jpg">

        <div class="caption">
          <h2><span>yet another slide</span></h2>
          <h2><span>html theme</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <button class="btn">Read More</button>
              </div>

            </li>
            <li>
              <img src="images/slider/slider3.jpg">

        <div class="caption">
          <h2><span>one more slide</span></h2>
          <h2><span>html theme</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <button class="btn">Read More</button>
              </div>

            </li>
        </ul>

    </div>
  <hr>
  <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Features</h3>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User Services</h3>
        </div>
        <div class="panel-body">
          <ul>
          <li><a href="/signup"> Register</a></li>
          <li><a href="/signin"> Sign In</a></li>
          <li><a href="#"> Profile</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div id="maps" class="col-lg-6" style="height:400px"></div>
      <div id="pano" class="col-lg-6" style="height:400px"></div>
    </div>
    <script>
      function initialize() {
        var fenway = {lat: 28.7041, lng: 77.1025};
        var map = new google.maps.Map(document.getElementById('maps'), {
          center: fenway,
          zoom: 16
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: fenway,
              pov: {
                heading: 34,
                pitch: 10
              }
            });
        map.setStreetView(panorama);
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRto48-6LVkuFIuO-e9PU0iN6nJ0VEWo&callback=initialize"></script>
</div>
